body
{
  background-color: rgba(39, 128, 231, 0.8);
}

a
{
	color:#AF3131;
	font-size:6vw;
	text-decoration:none;
}

a.header
{
	color:#AF3131;
	font-size:8vw;
}


.select:hover
{
	opacity:0.65;
	text-decoration:underline;
	transform: scale(1.1);
}

h1
{
	border-bottom-left-radius:15px;
	border-top-left-radius:15px;
	border-left:15px solid #AF3131;
	border-bottom-right-radius:15px;
	border-top-right-radius:15px;
	border-right:15px solid #AF3131;
	border-bottom:2px solid #AF3131;
	border-top:2px solid #AF3131;
	color:#AF3131;
	margin:5px;
	padding:10px;
	font-size:6vw;
	background-color:rgba(255,255,255,0.95);
	font-family:Yatra One;
}

h2
{
	color:#AF3131;
	margin:5px;
	padding:10px;
	font-size:6vw;
	font-family:Cabin;
}

.head
{
	color:#AF3131;
	margin:5px;
	padding:10px;
	font-size:4vw;
	font-family:Cabin;
}

h2.mission
{
	color:#AF3131;
	padding:10px;
	font-size:4.5vw;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}



p
{
	
	color:#AF3131;
	margin:5px;
	margin-left:25px;
	padding:10px;
	font-size:36px;
	
}


.navbar {
    overflow: hidden;
    background-color: #AF3131;
    font-family: Arial, Helvetica, sans-serif;
	border-left:40px solid #AF3131;
}

.navbar a {
    float: left;
    font-size: 16px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color:#AF3131;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(39, 128, 231, 0.8);
    color: rgba(255,255,255,0.95);
}
.dropdown-content {
    display: none;
    position: absolute;
   background-color: rgba(255,255,255,0.95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(175,49,49,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #AF3131;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #AF3131;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a.active {
    background-color: #AF3131;
    color: rgba(255,255,255,0.95);
	font-size: 17px;
	border-right:2px solid #000000;
	border-left:2px solid #000000;
}